In [19]:
import json
import pandas as pd
import numpy as np

In [22]:
data= []
mydf = pd.DataFrame()

# to parse json files
with open('/Users/woowahan/Documents/Python/DS_Ext_School/edu1/ds_tutorial_json.json') as f:
    for line in f:
        data.append(json.loads(line))
        
    # convert json to df
    for i in range(0, len(data)):
        df = pd.DataFrame.from_dict([data[i]])
        mydf = mydf.append(df)
        
# reset index
mydf.reset_index(drop=True, inplace=True)

In [24]:
mydf

       area event group memno  screen  ver
0     seoul  view     a  1101   intro  0.1
1     taegu  view     a  1101   intro  0.2
2   gyenggi  view     b  1102  detail  0.2
3     seoul   clk     b  1102  detail  0.2
4     seoul   clk     c  1102    main  0.2
5   gyenggi   clk     c  1102    main  0.3
6   gyenggi  view     a  1102  detail  0.3
7   gyenggi   clk     a  1102  detail  0.2
8     taegu  view     b  1103  detail  0.2
9     taegu   clk     c  1103     set  0.2
10  gyenggi  view     b  1109     set  0.2
11  gyenggi   clk     b  1109     set  0.2
12  gyenggi  view     d  1109  detail  0.2
13    seoul  view     d  1110  detail  0.3
14  gyenggi   clk     d  1111  detail  0.2
15    seoul  view     a  1111    done  0.2
16  gyenggi   clk     e  1113  detail  0.2
17  gyenggi  view     e  1101  detail  0.2
18    seoul   clk     d  1102  detail  0.2
19  gyenggi   clk     d  1102  detail  0.2
20    taegu   clk     d  1103    done  0.2
21  gyenggi  view     d  1103  detail  0.2
22  gyenggi   clk     d  1104    done  0.2
23    seoul   clk     d  1105  detail  0.2
24  gyenggi  view     a  1106  detail  0.2
25    taegu   clk     d  1106   intro  0.2
26    taegu   clk     c  1106  detail  0.2
27  gyenggi  view     d  1107    done  0.2
28    seoul   clk     a  1111  detail  0.2
29  gyenggi   clk     d  1103     set  0.2